@import "main";

.PostsWrapper {
  width: 100%;
}
.PostsSearchInputWrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $sakura2;
  margin: 0 5rem;
  .PostsSearchInput {
    // background-color: $sakura1;
    color: white;
    border-radius: 25px;
    border: none;
    box-shadow: $shadow1;
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    padding-left: 3.5rem;
    margin: 2rem auto;
    background: url(https://img.icons8.com/wired/26/000000/search.png) no-repeat $sakura1 1rem;
    // background-image: url()
    &:focus {
      outline: none;
    }
    &::placeholder{
      color: white;
      opacity: 0.6;
    }
    @include media("480") {
      margin: 1rem;
    }
  }
}
