@import "main";

.PostsWrapper {
  width: 100%;
}
.PostsSearchInputWrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $sakura2;
  margin: 0 5rem;
  @include media("480") {
    margin: 0;
  }
  .PostsSearchInput {
    // background-color: $sakura1;
    color: white;
    border-radius: 25px;
    border: none;
    box-shadow: $shadow1;
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    padding-left: 3.5rem;
    margin: 2rem auto;
    background: url(https://img.icons8.com/wired/26/000000/search.png) no-repeat
      $sakura1 1rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: white;
      opacity: 0.6;
    }
    @include media("480") {
      margin: 1rem;
    }
  }
}

.PostsArrayWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Post {
  width: 300px;
  height: 200px;
  position: relative;
  object-fit: fill;
  object-position: center;
  margin: 2rem;
  @include media("tablet") {
    margin: 1rem;
  }
  > img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    box-shadow: $shadow1;
    &:hover {
      filter: blur(1px) brightness(0.8);
    }
  }
  .PostInfo {
    visibility: hidden;
    color: white;
    position: absolute;
    z-index: 1000;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .PostInfoTitle{
      font-size: 2rem;
    }
    .PostInfoUsername{
      text-decoration: underline;
    }
  }
}
