@import "main";

.PostsWrapper {
  width: 100%;
}
.PostsSearchInputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $sakura2;
  margin: 0 5rem;
  @include media("860") {
    margin: 0;
    flex-direction: column;
  }
  .forPosition {
    width: 10rem;
  }
  .writeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    color: white;
    background: $sakura3;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    @include media("860") {
      width: 20rem;
      margin-bottom: 1rem;
    }
  }
  .PostsSearchInput {
    // background-color: $sakura1;
    color: white;
    border-radius: 25px;
    border: none;
    box-shadow: $shadow1;
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    padding-left: 3.5rem;
    margin: 2rem auto;
    background: url(https://img.icons8.com/wired/26/000000/search.png) no-repeat
      $sakura1 1rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: white;
      opacity: 0.6;
    }
    @include media("480") {
      margin: 1rem;
    }
  }
}

.PostsArrayWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Post {
  width: 300px;
  height: 200px;
  position: relative;
  object-fit: fill;
  object-position: center;
  margin: 2rem;
  border: 1px solid $sakura1;
  border-radius: 25px;
  box-shadow: $shadow1;
  cursor: pointer;
  @include media("860") {
    margin: 1rem;
  }
  > img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    &:hover {
      filter: blur(2px) brightness(0.8);
    }
  }
  .PostInfo {
    visibility: hidden;
    color: white;
    position: absolute;
    z-index: 1000;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .PostInfoTitle {
      font-size: 2rem;
    }
    .PostInfoUsername {
      text-decoration: underline;
    }
  }
}
.PostWriteInput {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem;
  @include media("480") {
    flex-direction: column;
    margin: 1rem 0;
  }
  > span {
    font-size: 2rem;
    color: $sakura3;
    padding-right: 1rem;
  }
  > input {
    width: 20rem;
    border-radius: 25px;
    font-size: 1.5rem;
    height: auto;
    border: none;
    box-shadow: $shadow1;
  }
  >input[type='file'] {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 18rem;
    font-size: 1rem;
    box-shadow: $shadow1;
    // @include media("480") {
    //   width: 12rem;
    // }
  }
  > textarea {
    border: none;
    border-radius: 25px;
    width: 20rem;
    height: 10rem;
    font-size: 1.5rem;
    resize: none;
    box-shadow: $shadow1;
    @include media("480"){
      height: 7rem;
    }
  }
}
.PostWriteButton {
  width: 20rem;
  height: 3rem;
  font-size: 2rem;
  color: white;
  background: $sakura4;
  border-radius: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow1;
  cursor: pointer;
  @include media("480"){
    margin-top: 3rem;
  }
}
