@import "main.scss";

.HeaderPosition {
  display: inline-block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.HeaderBackground {
  background: $sakura4;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  height: 4rem;
}
.HeaderContents {
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  @media screen and (max-width: 976px) {
    padding: 0 1rem;
  }
}
.HeaderLogo {
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: white;
  font-weight: bolder;
}
.HeaderSpacer {
  flex: 1;
}
.LoginButton {
  font-weight: 600;
  border: 1px solid white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: white;

  &:hover {
    background: $sakura4;
    color: $sakura0;
  }
}
.ProfileButtonWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .ProfileButtonThumbnail {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
  }
}
.ProfileMenuWrapper {
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 100;
  opacity: 0.9;
  background: white;
  width: 100%;
  height: 15rem;
  .MenuContainer {
    height: 100%;
    opacity: 0;
    animation: .4s appear forwards;
    .MenuItem {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 2rem;
      font-weight: 900;
      padding: 1rem 0;
      margin: 0 5%;
      cursor: pointer;
      transition: color 0.1s ease-in-out;
      animation: 0.1s slideIn forwards;
      > a{
        text-decoration: none;
        color: $sakura4;
      }
    }
    .line {
      width: 90%;
      height: 1px;
      background: $sakura4;
      margin: 0 auto;
      animation: 1s shrink forwards;
      
    }
  }
}