@keyframes shake{
  0% {
    transform: translate(-30px);
  }
  25% {
    transform: translate(15px);
  }
  50% {
    transform: translate(-10px);
  }
  75% {
    transform: translate(5px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}